.header{
  //background-color: $header-bg;
  height: 100vh;

}
.brand{
  text-align: center;
  width: 400px;
  height: auto;
  position: fixed;
  left:50%;
  top:50%;
  z-index: -2;
  overflow: hidden;
  transition: all .3s;
  transform: translate3d(-50%,-50%,0);
  padding:10px 20px;
  opacity: 0;
  animation: showBrand .7s ease-in forwards;
}
.brand_title{
  color: $primer3-color;
  margin-top: -30px;
  font-size: 1rem;
  overflow: hidden;

}

@keyframes showBrand {
  100% {
    opacity: 1;
  }
}
