.avater{
  max-width: 300px;
  background: $hi-color-3;
  padding: 10px 30px;
  border-radius: 50%;
  overflow: hidden;
  margin:0 auto ;
  opacity: .9;
}
.avater_img{
  width: 100%;
  height:auto;
  margin-bottom: -20px;
}
.personal_name{
  max-width: 380px;
  margin: 30px auto;
}


.personal_hi{
  font-size: 3.5rem;
  font-weight: bold;
  color: #312e28;
  padding:5px 10px;
  margin-top: 10px;
  display: block;
}
.personal_info{
  font-size: 2.5rem;
  font-weight: bold;

  color: #28292A;
  margin-top:10px;
  margin-bottom: 0;
  padding:0 30px;
  opacity: .9;
  @media (min-width: 576px) {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  @media (max-width: 768px) {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  @media (min-width: 992px) {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  @media (min-width: 1200px) {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}