.l-skill_coding{
  background: #E57B5E;
}
.skill{
  padding: 0 30px;
  &_title{
    color: #343B42;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;

  }
  &_body{
    color: #343B42;
    font-weight: bold;
    word-break: break-all;
    @media (min-width: 576px) {
      font-size: 1.6em;
    }
    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
    @media (min-width: 992px) {
      font-size: 1.8rem;
    }
    @media (min-width: 1200px) {
      font-size: 2rem;
    }
  }
}
.skill_image{
  width: 100%;
  padding:0 30px;
  img{
    max-width: 100%;
    width: auto;
  }
}
////////////////////////////////////////////////////////////////

.l-skill_design{
  //background: #312e28;
  background: #E57B5E;
}
////////////////////////////////////////////////////////////////////
.l-skill_idea {
  //background: $primer2-color;
  //background: #E57B5E;
  background: #60BAAF;
}