.cls-1,
.cls-4 { font-size: 117.12px; font-weight: 700; }
.cls-1 { fill: #fc6460; font-family: Wallobee-Bold, Wallobee; }
.cls-2 { fill: #404041; }
.cls-3 { fill: #00b5be; opacity: 0.3; }
.cls-4 { fill: #966b4e; font-family: Headmaster-Bold, Headmaster; }
.cls-5 {
  fill: none;
  stroke: #fc6460;
  stroke-width: 3px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1s linear forwards;
}
@keyframes dash {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
  }
}